{% extends 'business/base_business.html' %}
{% load static %}

{% block main_content %}
  {% if messages %}
    {% for message in messages %}
      <script>
        alert('{{ message }}')
      </script>
    {% endfor %}
  {% endif %}
  <div class="content">
    <div class="titulo">
      <h1>Minhas empresas</h1>
      <a class="btn btn-primary novo-elemento" href="{% url 'criar-empresa' %}" role="button">Criar Nova Empresa +</a>
    </div>

    <div>
      {% if not empresas %}
        <h3>Você não possui empresas cadastradas</h3>
      {% endif %}
      {% for empresa in empresas %}
        <a class="btn btn-secondary ml-3 mr-3 mb-3 main-btn" href="{% url 'funcionarios' %}?empresa={{ empresa.id }}" role="button">
          <div class="main-div-btn">
            <img src="{% static 'img/empresa.webp' %}" alt="" />{{ empresa.nome }}
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
