{% extends 'business/base_business.html' %}
{% load static %}

{% block main_content %}
  <div class="content">
    {% if is_editing %}
      <h1>Editar Empresa</h1>
    {% else %}
      <h1>Criar Nova Empresa</h1>
    {% endif %}

    {% if form.errors %}
      <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
    {% endif %}

    <form id="form"
      method="POST"
      action="{% if is_editing %}
        {% url 'editar-empresa' empresa_id %}
      {% else %}
        {% url 'criar-empresa' %}
      {% endif %}">
      {% csrf_token %}
      {% load custom_tags %}
      <div class="form-group mt-3">
        <label for="id_nome">{{ form.nome.label }}</label>
        {{ form.nome|add_class:'form-control' }}
      </div>
      <div class="form-group mt-3">
        <label for="id_estado">{{ form.estado.label }}</label>
        {{ form.estado|add_class:'form-control' }}
      </div>
      <div class="form-group mt-3">
        <label for="id_cidade">{{ form.cidade.label }}</label>
        {{ form.cidade|add_class:'form-control' }}
      </div>
      <div class="form-group mt-3">
        <label for="id_bairro">{{ form.bairro.label }}</label>
        {{ form.bairro|add_class:'form-control' }}
      </div>
      <div class="form-group mt-3">
        <label for="id_logradouro">{{ form.logradouro.label }}</label>
        {{ form.logradouro|add_class:'form-control' }}
      </div>
      <div class="form-group mt-3">
        <label for="id_numero">{{ form.numero.label }}</label>
        {{ form.numero|add_class:'form-control' }}
      </div>
      <div class="form-group mt-3">
        <label for="id_complemento">{{ form.complemento.label }}</label>
        {{ form.complemento|add_class:'form-control' }}
      </div>
      <div class="form-group mt-3">
        <label for="id_cep">{{ form.cep.label }}</label>
        {{ form.cep|add_class:'form-control' }}
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-3">Salvar</button>
    </form>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    var mascaraCEP = IMask(document.getElementById('id_cep'), {
      mask: '00000-000'
    })
  </script>
{% endblock %}
