{% extends 'business/base_business.html' %}
{% load static %}

{% block main_content %}
  {% if messages %}
    {% for message in messages %}
      <script>
        alert('{{ message }}')
      </script>
    {% endfor %}
  {% endif %}
  <div class="content">
    <div class="titulo">
      <h1>Funcionários de {{ empresa.nome }}</h1>
      <a class="btn btn-primary editar-elemento" href="{% url 'editar-empresa' empresa.id %}" role="button">
        <div class="main-div-btn">
          <img src="{% static 'img/edit.png' %}" alt="Editar" />Editar Empresa
        </div>
      </a>
      <a class="btn btn-primary novo-elemento" href="{% url 'criar-funcionarios' %}" role="button">Criar Novo Funcionário+</a>
    </div>
    <div style="display: flex; align-items: center; justify-self: center;">
      <a class="btn btn-primary main-btn" href="{% url 'registrar-pontos' %}" role="button">
        <div class="main-div-btn">
          <img src="{% static 'img/icon_white.png' %}" alt="" />Registro de Ponto
        </div>
      </a>
    </div>

    <div>
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>CPF</th>
            <th class="col-acoes">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
            <tr>
              <td>{{ usuario.funcionario.nome }}</td>
              <td>{{ usuario.funcionario.email }}</td>
              <td>{{ usuario.cpf }}</td>
              <td>
                <a class="btn btn-secondary" href="{% url 'filtrar-pontos' %}?funcionario={{ usuario.funcionario.id }}" role="button">Pontos</a>
                <a class="btn btn-primary editar-elemento" href="{% url 'editar-funcionario' usuario.funcionario.id %}" role="button">
                  <div class="main-div-btn">
                    <img src="{% static 'img/edit.png' %}" alt="Editar" />
                  </div>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
