{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <script>
        alert('{{ message }}')
      </script>
    {% endfor %}
  {% endif %}
  <div class="col">
    <a class="btn btn-primary novo-elemento" href="{% url 'criar-funcionarios' %}" role="button">Criar Novo Funcionário</a>
    <h1>Funcionários de {{ empresa.nome }}</h1>
    <a class="btn btn-primary" href="{% url 'registrar-pontos' %}" role="button">Registro de Ponto</a>
    <div>
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>CPF</th>
            <th class="col-acoes">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
            <tr>
              <td>{{ usuario.funcionario.nome }}</td>
              <td>{{ usuario.funcionario.email }}</td>
              <td>{{ usuario.cpf }}</td>
              <td>
                <a class="btn btn-secondary ml-3 mr-3 mb-3" href="{% url 'filtrar-pontos' %}?funcionario={{ usuario.funcionario.id }}" role="button">Pontos</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
